<div class="grid-container">
  <div class="grid-item">
    <a routerLink="/market" class="grid-link"><span>Market</span></a>
  </div>
  <div class="grid-item">
    <a routerLink="/career" class="grid-link"><span>Career Hub</span></a>
  </div>
  <div class="grid-item">
    <a routerLink="/page3" class="grid-link"><span>Courses</span></a>
  </div>
  <div class="grid-item">
    <a routerLink="/tutoring" class="grid-link"><span>Tutoring</span></a>
  </div>
  <div class="grid-item">
    <a routerLink="/students" class="grid-link"><span>Students Helping Students (WIP)</span></a>
  </div>
  <div class="grid-item">
    <a routerLink="/community" class="grid-link"><span>Connect with Students</span></a>
  </div>
</div>
