<div class="grid-container">
  <a href="/market" class="grid-item">
    <span class="grid-link">Market</span>
  </a>
  <a href="/career" class="grid-item">
    <span class="grid-link">Career Hub(wip)</span>
  </a>
  <a href="/Courses" class="grid-item">
    <span class="grid-link">Courses(wip)</span>
  </a>
  <a href="/tutoring" class="grid-item">
    <span class="grid-link">Tutoring(wip)</span>
  </a>
  <a href="/students" class="grid-item">
    <span class="grid-link">Students Helping Students (WIP)</span>
  </a>
  <a href="/community" class="grid-item">
    <span class="grid-link">Connect with Students(wip)</span>
  </a>
</div>
